:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color_accent: #1e5088;

  --background: linear-gradient(90deg, rgb(255, 255, 255), rgb(240, 249, 255));

  --fontColor_sec: rgb(228, 217, 217);
  --fontColor_pri: rgb(46, 45, 45);

  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

* {
  color: var(--fontColor_pri);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* content */
.page,
.page-home {
  margin: 0;
  padding: 3vh 2vw 1vh;
  min-height: 96vh;
  background-image: var(--background);
}

.page {
  margin: 0;
  padding: 4vh 0 0;
  min-height: 96vh;
}

.page-home p {
  font-size: clamp(1em, 1.5vw, 1.3em);
}

.banner {
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0),
      rgba(184, 184, 184, 0.664)), url('../public/market.jpg');
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-align-btns {
  width: 50%;
  margin: 5vh auto 0;
  display: flex;
  justify-content: space-around;
}

.big-title {
  font-size: clamp(3.2em, 9vw, 9em);
  font-weight: bold;
  color: var(--color_accent);
}

.big-title * {
  color: var(--color_accent);
}

.subtitle {
  font-size: clamp(1.6em, 4vw, 2.4em);
  margin-top: -8%;
}

.market-icon {
  font-size: clamp(1em, 2vw, 2em);
  margin-left: -3%;
}

h1 {
  font-size: clamp(1.5em, 4vw, 3.2em);
  font-weight: bold;
  color: var(--color_accent);
}

h2 {
  font-size: clamp(1em, 1.5vw, 1.3em);
  color: var(--fontColor_pri);
}

button {
  padding: 1vh 2vw;
  margin: auto;
  font-size: clamp(1em, 2vw, 1.6em);
  font-weight: bold;
  color: var(--fontColor_sec);
  border-radius: 4px;
  border: 2px solid var(--color_accent);
  background-color: var(--color_accent);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn-mini {
  padding: 0.6vh 3vh;
  font-size: clamp(0.9em, 1.5vw, 1.2em);
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1vh 2vw;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  background-color: white;
  border: none;
  border-radius: 4px;
  z-index: -1;
}

button:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

button:hover,
button:hover * {
  color: var(--color_accent);
}

/* FAQ */
details {
  padding: 1vh 2vw;
  margin: 2vh 2vw;
  border: 2px solid var(--color_accent);
  text-align: left;
}

summary {
  padding: 1vh 1vw;
  text-align: center;
  color: var(--fontColor_pri);
  font-weight: bold;
  font-size: clamp(0.9em, 2vw, 1.3em);
}

.details-text {
  color: var(--color_pri);
  font-size: clamp(0.8em, 2vw, 1.1em);
}

/* Footer */
footer {
  margin: 0;
  padding: 2vh 1vw;
  display: flex;
  justify-content: space-around;
  gap: 0 2vw;
  border-top: 1px solid var(--color_accent);
  background-color: #333;
}

footer * {
  color: var(--fontColor_sec);
  text-decoration: none;
  cursor: pointer;
}

.align-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0 5px;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: bold;
}

.brand * {
  font-size: clamp(1em, 2vw, 2em);
}

.link {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.link a {
  font-size: clamp(0.8em, 1.5vw, 1em);
}

@media screen and (max-width: 900px) {
  .page-home {
    padding: 22vh 2vw 1vh;
    min-height: 77vh;
  }

  .link {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .link a {
    font-size: 0;
  }
}