nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 0;
  z-index: 999;
  backdrop-filter: blur(4px);
  background-color: white;
  box-shadow: var(--shadow);
}

.navbar-align {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex: 0 1 100%;
  height: auto;
}

.nav-div {
  display: flex;
  flex: 0 1 100%;
  height: 5vh;
}

.menu-item {
  padding: 1.2vh 0.5vw;
  margin: 0 0.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu-item * {
  color: var(--color_accent);
  font-weight: bold;
  font-size: clamp(0.8em, 2vw, 1em);
}

.menu-item::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: left;
  transition: all .2s ease-in-out;
  transform: scaleY(1.1);
  opacity: 0;
  z-index: -1;
  border-top: 2px solid var(--color_accent);
  border-bottom: 3px solid var(--color_accent);
}

.menu-item:hover::before {
  transform-origin: left;
  transform: scaleY(1);
  opacity: 0.8;
}

.menu-icon {
  display: none;
  width: 26px;
  height: 20px;
  margin: 0.8vh 0 0;
  padding: 6px 4px 2px;
  position: relative;
  cursor: pointer;
}

.menu-icon * {
  color: var(--color_accent);
}

.menu-icon::before {
  content: '';
  position: absolute;
  inset: 0 0 4px 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-bottom: 2px solid var(--fontColor_sec);
  background-color: var(--background);
  z-index: -1;
}

.menu-icon:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* App */
.app-bar {
  width: 100%;
  margin: 0;
  padding: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
}

.app-bar-align {
  display: inline-flex;
  gap: 0 clamp(5px, 0.5vw, 10px);
}

.app-btn {
  padding: 0.5vh 0.5vw;
  font-size: clamp(0.9em, 2vw, 1.1em);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.app-btn * {
  color: var(--color_accent);
  font-size: clamp(1.2em, 2vw, 1.3em);
}

.app-btn::before {
  content: '';
  position: absolute;
  inset: -0.7vh;
  padding: 0.5vh 0.5vw;
  transform-origin: center;
  transform: scaleY(1.1);
  transition: all 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
  border-top: 2px solid var(--color_accent);
  border-bottom: 3px solid var(--color_accent);
  border-radius: 0;
  background-color: transparent;
}

.app-btn:hover::before {
  transform-origin: center;
  transform: scaleY(1);
  opacity: 0.8;
}

.app-select {
  padding: 0.4vh 0.5vw;
  font-weight: bold;
  font-size: clamp(0.8em, 1.6vw, 1em);
  background-color: white;
  color: var(--fontColor_pri);
  border: 2px solid var(--color_accent);
  border-radius: 4px;
}

option {
  color: var(--fontColor_pri);
  font-weight: bold;
  font-size: clamp(0.8em, 1.6vw, 1em);
  border: none;
}

.app-filter {
  width: 30vw;
  max-width: 240px;
  padding: 0.4vh 4px;
  font-size: clamp(0.8em, 1.5vw, 1em);
  color: var(--fontColor_pri);
  border: 2px solid var(--color_accent);
  border-radius: 4px;
}

@media screen and (max-width: 1100px) {
  .navbar-align {
    width: 100%;
    justify-content: left;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item {
    display: none;
    padding: 10px 2vw 4px;
    margin: 0;
  }

  .menu-item::before {
    border-radius: 0;
  }

  .menu-icon {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive .menu-item {
    display: block;
    text-align: left;
  }

  .menu-item::before {
    inset: 6px 0 2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .menu-item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
